.bubbles {
	position: relative;
	min-height: 400px;
	&__bubble {
		$size: 100px;
		background: $orange;
		color: $white;
		text-align: center;
		border-radius: 50%;
		font-size: 16px;
		position: absolute;
		width: $size;
		height: $size;
		display: flex;
		flex-direction:column;
		justify-content: center;
		&.b1 {
			font-size: 70%;
			width: $size*0.7;
			height: $size*0.7;
		}
		&.b2 {
			font-size: 100%;
		}
		&.b3 {
			font-size: 150%;
			width: $size*1.5;
			height: $size*1.5;
		}
	}
}