$nav: #22B8E2;
$nav-active: #2199C3;

$bg: #2B3036;
$bg-dark: #31373E;
$bg-title: #546078;
$bg-card: #66748F;

$grey: #AEAEAE;
$grey-light: #F2F2F2;

$cta: #66748F;
$cta-active: #FC7E08;

$orange:#db631f;
$orange-dark:$cta-active;


$data: #91E118;
$green: $data;

$white: #fff;

$screen-xs: 481px !default;
